#content:after, #footer:after {content:".";clear:both;display:block;overflow:hidden;visibility:hidden;height:0}

body {font-family: sans-serif; color: #333; margin: 0}
a {color: #333; border-style: dotted; border-width: 0 0 1px; border-color: #333; text-decoration: none}
a:hover {border-style: solid}

header {margin: 0; padding: 0.25em 0; background: #000 url(img/bg.png); color: white}
header h1 {text-align: center; font-weight: bold; text-shadow: 1px 1px #000}

#content, #footer {margin: 2.5% 5%}

article {width: 75%; float: left}
aside {width: 20%; float: right; margin-left: 5%}
.widget {margin-bottom: 2em}
aside ol {padding-left: 1.5em}
aside ol li {margin: 0.5em 0}

table {border-spacing: 0; border-collapse: collapse; width: 100%}
table th {text-align: left}
table tr.even {background-color: #FFFFFF}
table tr.odd {background-color: #FAFAFA}
table tbody tr:first-child {border-top: #333}
table td, th {padding: 0.5em 1em}
table td {border: 1px solid #EEE}
table th {border-bottom: 2px solid #333}
tr.marked, tr.marked a {color: #BBB; text-decoration: line-through; border-color: #BBB}

table input[type=checkbox] {
    padding: 0.5em;
}

#loading, #error {text-align: center; padding: 0.5em 1em}
#loading {background: #FFF0AA}

#error {background: #FFAEAE}
#total-watched, #total-percentage {font-weight: bold}

#footer {margin-top: 2em; margin-bottom: 2em; font-size: 0.9em}
#footer, #footer a {color: #999}
#about {float: left; line-height: 20px}
#badge {float: right}
